/*
Colour palette:
	light gray 		(51,51,51)
	light gray    (104,104,104)
	darker gray 	(26,26,26)
	lime          (186,231,122)
	lighter lime	(206,244,169)
	hard green 	  (59,126,81)
	hard brown    (51,25,25)
	black					(13,13,13)

	#content padding-bottom must be same height as footer
*/

@charset "UTF-8";
@font-face {
 font-family: HACKED;
 src: url(../fonts/HACKED_Title.ttf);
}

@font-face {
 font-family: cpmono;
 src: url(../fonts/cpmono.ttf);
}

@font-face {
 font-family: Dsdigital;
 src: url(../fonts/Dsdigital.ttf);
}

* {
 /*outline: solid 1px pink;*/
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 color: #d2f9d2;
 font-family: cpmono;
}

i {
 color: #62ea62;
}

body, html {
 height: 100%;
 width: 100%;
 outline: initial;
}

body {
 background-color: rgb(38, 38, 38);
}

#content {
 position: absolute;
 top: 40px;
 left: 50%;
 height: 475px;
 width: 340px;
 margin-left: -170px;
 background: url("../med/content-bg-alt.png") center center / 340px 475px no-repeat content-box content-box local;
}

#wrapper {
 height: 640px;
 width: 360px;
 position: relative;
 left: 50%;
 margin-left: -180px;
 top: 50%;
 margin-top: -320px;
 background: url("../med/bg.jpg") center center / 360px 640px no-repeat content-box content-box local;
}

#head, #body, #foot {
 padding: 0 2px;
}

#head {
 font-size: 16px;
 height: 16px;
 width: 149px;
 position: absolute;
 top: 2px;
 left: 17px;
}

#body {
 font-size: 16px;
 height: 428px;
 width: 332px;
 position: absolute;
 top: 35px;
 left: 2px;
}

#number_box {
  position: absolute;
  top: 134px;
  width:100%;
  left: 10px;
  text-align: center;
  margin: 0 -10px 0 -10px;
  padding: 0;
}

.number {
  line-height: 22px;
  font-size: 20px;
  font-family: Dsdigital;
  margin: 0 -1px 0 -1px;
}

#foot {
 font-size: 10px;
 line-height: 10px;
 width: 147px;
 position: absolute;
 bottom: 2px;
 right: 37px;
 text-align: center;
}

#nav {
 position: absolute;
 height: 41px;
 bottom: 20px;
 left: 50%;
 width: 340px;
 margin-left: -170px;
}

#nav>* {
 display: inline-block;
}

.nav1 {
 height: 41px;
 width: 151px;
 background: url("../med/nav1-BG-alt.png") center center / 151px 41px no-repeat content-box content-box local;
}

#navG1 {
 position: absolute;
 left: 0;
}

#navG2 {
 position: absolute;
 right: 0;
}

#navAll {
 position: absolute;
 left: 50%;
 margin-left: -30px;
 top: -40px;
 line-height: 60px;
 width: 60px;
 font-size: 25px;
 text-align: center;
 background: url("../med/nav2-BG-alt.png") center center / 60px 60px no-repeat content-box content-box local;
}

#navAll:active {
 background: url("../med/nav2-BG-alt-hover.png") center center / 60px 60px no-repeat content-box content-box local;
}

.rNav, .lNav {
 width: 72px;
 position: absolute;
 line-height: 45px;
 padding: 0 2px;
 font-size: 20px;
 text-align: center;
}

.rNav {
 left: 0px;
}

.rNav:active {
 height: 41px;
 width: 74px;
 padding-left: -2px;
 background: url("../med/nav1r-BG-alt-hover.png") center center / 76px 41px no-repeat content-box content-box local;
}

.lNav {
 right: 0px;
}

.lNav:active {
 height: 41px;
 width: 74px;
 padding-right: -2px;
 background: url("../med/nav1l-BG-alt-hover.png") center center / 76px 41px no-repeat content-box content-box local;
}

#circle {
 position: absolute;
 left: 50%;
 width: 260px;
 margin-left: -130px;
 margin-top: -200px;
 top: 50%;
 height: 260px;
 font-size: 25px;
 text-align: center;
 background: url("../med/loading_circle.png") center center / 260px 260px no-repeat content-box content-box local;
 overflow: hidden;
 transition-duration: 1s;
 transition-property: transform;
}

#circle:active {
 transform: rotate(-270deg);
 -webkit-transform: rotate(-270deg);
}

#spin_circle {
 position: absolute;
 left: 50%;
 width: 160px;
 margin-left: -80px;
 margin-top: -150px;
 top: 50%;
 height: 160px;
 font-size: 25px;
 text-align: center;
 background: url("../med/spin_loading_circle.png") center center / 160px 160px no-repeat content-box content-box local;
 overflow: hidden;
 transition-property: transform;
 -webkit-animation: spin 5000ms linear infinite;
 -moz-animation: spin 5000ms  linear infinite;
 animation: spin 5000ms  linear infinite;
}

@-moz-keyframes spin {
 100% {
  -moz-transform: rotate(360deg);
 }
}

@-webkit-keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
 }
}

@keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}
